@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.logo {

    text-align: center;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    height: 50px;
    width: 55px;
    border-radius: 5px !important;

}

.bgimage {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
    height: 100vh;
    background-size: cover;
}

.menu {}

.head {
    color: white;
    font-weight: bold;
    font-size: 25px;

}

.button {
    color: black;
    height: 40px;
    border-radius: 10px;
    border-width: 0px;
    border-style: solid;
    background-color: yellow;
    font-weight: bold;
}

.button1 {
    border-color: white;
    font-weight: bold;
    color: yellow;
    height: 40px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
}

.para {
    text-align: center;
    background-color: black;
    color: yellow;
    font-weight: bold;
    font-size: 15px;
}

.wcu-bg {
    background-color: black;
    background-size: cover;

}

.wcu-heading {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.wcu-para {
    font-size: 20px;
    color: grey;

}

.card-bg {
    text-align: center;
    background-color: grey;
    height: 200px;
    width: 300px;
    border-radius: 15px;
    border-color: yellow;
    border-style: solid;
}

.card-img {
    height: 70px;
    width: 150px;
}

.card-heading {
    font-size: 15px;
    color: white;
    font-weight: bold;

}

.card-para {
    text-align: center;
    font-size: 10px;
    color: white;
}

.menu-bg {
    background-color: #331a00;
    background-size: cover;
}

.menu-head {

    font-size: 30px;
    color: white;
    font-weight: bold;
}

.menu-card {
    background-color: #4d4d00;
    border-radius: 15px;
}

.menu-img {
    height: 250px;

}

.menu-card-heading {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.menu-view-list {
    color: #ecffb3;
    font-size: 20px;
}

.healthy-food-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.healthy-food-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}


.delivery-and-payment-section {
    background-color: white;
}

.delivery-and-payment-section-img {
    width: 270px;
}

.delivery-and-payment-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.delivery-and-payment-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.payment-card-img {
    width: 50px;
    height: 50px;
    margin-right: 28px;
}

.custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.thanking-customers-section {
    background-color: #d0b2001a;
}

.thanking-customers-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.thanking-customers-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.thanking-customers-section-img {
    width: 270px;
    margin-bottom: 20px;
}

.custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}




.follow-us-section {
    background-color: white;
}

.follow-us-section-heading {
    text-align: center;
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.follow-us-icon-container {
    background-color: #faf7e8;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 15px;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 22px;
}

.icon {
    color: #d0b200;
    font-size: 35px;
}